body {
/*  background-image: url(Header.jpg);
  background-size: cover;
  background-position: center;*/
  background-color: #F6F2F0;
}

.bg-light {
  background-color: #F6F2F0 !important;
}


.navbar-brand {
  display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 40px;
  color: #F6F2F0 !important;
}

.nav-link {
  font-family: 'DM Serif Text', serif;
  font-size: 45px;
  color: #F2A98F !important;
}

.nav-link:hover {
  color: #737272 !important;
}

.dropdown-item {
  font-family: 'Source Code Pro', monospace;

}

.dropdown-menu {
  background-color: #F6F2F0;
}

h1  {
  color: #F2A98F;
  font-family: 'DM Serif Text', serif;
  font-size: 150px;
  text-align: center;
}

h2  {
  color: #F2A98F;
  font-family: 'DM Serif Text', serif;
  font-size: 100px;
  text-align: center;
}

h3  {
  font-family: 'Source Code Pro', monospace;
  font-size: 17px;
  color: #737272;
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;

}
 
p {

}

a {
  color:#F2A98F;
}

a:hover {
color: #737272;
}

hr {
  color: white;
  width: 50%;
}

#title1 {
  text-align: center;
  margin: 40px;
}

#title2 {
  margin: 40px;
  margin-top: 50px;
}

#img1 {
  align-content: center;
  width: 60%;
  margin-bottom: 40px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -2;
}

#subheading1 {
  word-wrap: break-word;
    width: 600px;
    z-index: -2;
    display: inline-flex;
}
#code2 {
  font-family: 'Libre Barcode 128 Text', cursive;
  color: black;
  background-color: white;
  word-wrap: break-word;
  position: absolute;
  padding: 2px;
    left: 65%;
    top: 500px;
    z-index: -1;
    }

#code3  {
  font-family: 'Libre Barcode 128 Text', cursive;
  color: black;
  word-wrap: break-word;
  text-align: center;
    }

 .justify-content-center {
  margin-left: 25%;
  margin-right: 25%;
 }

.list-wrapper {
  position:relative;
}
.list-item-wrapper {
  margin-top:10px;
  position:relative;
}
.list-bullet {
  float:left;
  margin-right:20px;
  background:#C7C5C5;
  height:30px;
  width:30px;
  line-height:30px;
  border-radius:100px;
  font-weight:700;
  color:white;
  text-align:center;
}
.list-item {
  display:table-row;
  vertical-align:middle;
  margin-top: 10px;
  margin-bottom: 10px;
}
.list-title {
    font-weight:700;
    font-family: 'Source Code Pro', monospace;
    color: #737272;
}
.list-text {
    font-weight:400;
    font-family: 'Source Code Pro', monospace;
    color: #737272;
}
.red-line {
  background:#C7C5C5;
  z-index:-1;
  width:2px;
  height:100%;
  position:absolute;
  left:15px;
}
.white-line {
  background:#FFF;
  z-index:-1;
  top:0px;
  width:1px;
  height:100%;
  position:absolute;
  left:15px;
}


#sticky-footer {
  flex-shrink: none;
   margin: 0;
  padding: 0;
  background-color: #C7C5C5 !important;
}